// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

/**
 * flickr-background view styles.
 */
.flickr-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}
.flickr-background-hided {
  display: none;
}
/**
 * Hide background of elements on Atom.
 */
.btn,
.find-and-replace .header,
.markdown-preview,
.project-find .header,
.settings-view,
.settings-view .config-menu,
.settings-view .package-card,
.settings-view .package-detail .package-card,
.settings-view .package-detail-view .package-card,
.settings-view .package-readme pre,
.settings-view .panels-item,
.settings-view .table,
.tab-bar,
::-webkit-scrollbar-track,
atom-overlay,
atom-panel-container.bottom atom-panel,
atom-panel-container.bottom linter-panel,
atom-panel-container.bottom status-bar,
atom-panel-container.footer atom-panel,
atom-panel-container.footer linter-panel,
atom-panel-container.footer status-bar,
atom-panel-container.left,
atom-panel-container.left .tool-panel,
atom-panel-container.left .tree-view,
atom-panel-container.right,
atom-panel-container.right .tool-panel,
atom-panel-container.right .tree-view,
atom-text-editor,
atom-text-editor .gutter,
atom-text-editor::shadow .gutter,
button {
  background-color: transparent !important;
}
/**
 * Hide material-ui's tab bar side shadows.
 */
.panel-contrast:not(.tinted-tab-bar) .tab-bar:not([data-reactid])::after,
.panel-contrast:not(.tinted-tab-bar) .tab-bar:not([data-reactid])::before,
.tab-bar::after,
.tab-bar::before {
  background-image: inherit !important;
  background-color: inherit !important;
}
/**
 * Customize wrap guide.
 */
atom-text-editor::shadow .wrap-guide {
  background-color: rgba(255, 255, 255, .1) !important;
}
/**
 * Customize selection highlight.
 */
atom-text-editor .selection .region,
atom-text-editor::shadow .selection .region {
  background-color: rgba(255, 255, 255, .1) !important;
}
